<!DOCTYPE html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digitrell- grow digital</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="<%=nodeSiteUrl%>/website/images/favicon_transparent.png">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/vendor/bootstrap.min.css"> -->

    <!-- Font Family CSS -->
    <!-- <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/vendor/cerebrisans.css"> -->

    <!-- FontAwesome CSS -->
    <!-- <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/vendor/fontawesome-all.min.css">
        <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/vendor/linea-icons.css"> -->

    <!-- Swiper slider CSS -->
    <!-- <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/plugins/swiper.min.css"> -->

    <!-- animate-text CSS -->
    <!-- <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/plugins/animate-text.css"> -->

    <!-- Animate CSS -->
    <!-- <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/plugins/animate.min.css"> -->

    <!-- Light gallery CSS -->
    <!-- <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/plugins/lightgallery.min.css"> -->

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->

    <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/plugins/plugins.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="<%=nodeSiteUrl%>/website/css/style.css">

</head>
