<%- include('layouts/header.ejs') %>
<%- include('layouts/header-menu.ejs') %>
    <!--====================  End of header area  ====================-->

    <!-- breadcrumb-area start 
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h2 class="breadcrumb-title">Blog Update</h2>
                       
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">List Left Large Image</li>
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
     breadcrumb-area end -->


    <div id="main-wrapper">
        <div class="site-wrapper-reveal">



            <!--====================   Blog Area Start ====================-->
            <div class="blog-pages-wrapper section-space--ptb_100">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 order-lg-2 order-1">
                            <div class="section-title-wrap text-center section-space--mb_60">
                                <h3 class="heading">Interesting articles<span class="text-color-primary"> updated daily</span></h3>
                            </div>
                            <% if(data.length){%>
                                <div class="main-blog-wrap">

                                    <% for(var i=0;i< data.length;i++){%>
                                    <!--======= Single Blog Item Start ========-->
                                    <div class="single-blog-item post-list-wrapper xs-list-blog-item border-bottom wow move-up">
                                        <div class="row ">
                                            <div class="col-lg-6">
                                                <!-- Post Feature Start -->
                                                <div class="post-feature blog-thumbnail">
                                                    <a href="<%=nodeSiteUrl+'/website/blogs/single/'+data[i].id%>">
                                                        <img class="img-fluid" src="<%=data[i].default_image%>" alt="Blog Images">
                                                    </a>
                                                </div>
                                                <!-- Post Feature End -->
                                            </div>

                                            <div class="col-lg-6">
                                                <!-- Post info Start -->
                                                <div class="post-info lg-blog-post-info">
                                                    <h4 class="post-title">
                                                        <a href="<%=nodeSiteUrl+'/website/blogs/single/'+data[i].id%>"><%=data[i].title%></a>
                                                    </h4>

                                                    <div class="post-meta mt-20">
                                                        <div class="post-author">
                                                            <a href="<%=nodeSiteUrl+'/website/blogs/single/'+data[i].id%>">
                                                                <img class="img-fluid avatar-96" src="<%=data[i].default_image%>" alt=""> Admin
                                                            </a>
                                                        </div>
                                                        <div class="post-date">
                                                            <span class="far fa-calendar meta-icon"></span>
                                                            <%=data[i].created_at%>
                                                        </div>
                                                        <div class="post-view">
                                                            <span class="meta-icon far fa-eye"></span>
                                                             <%=data[i].views%>
                                                        </div>
                                                    </div>

                                                    <div class="post-excerpt mt-15">
                                                        <p><%- data[i].description%></p>
                                                    </div>


                                                    <div class="read-post-share-wrap mt-30">
                                                        <div class="post-read-more">
                                                            <a href="<%=nodeSiteUrl+'/website/blogs/single/'+data[i].id%>" class="ht-btn ht-btn-md">Read more </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Post info End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--===== Single Blog Item End =========-->
                                    <%}%>
                                    <div class="ht-pagination mt-30 pagination justify-content-center">
                                        <div class="pagination-wrapper">
                                            <ul class="page-pagination">
                                                <li><a class="prev page-numbers" href="<%=(previous!==null)?nodeSiteUrl+'/website/blogs?perpage='+numPerPage+'&page='+previous:'#'%>">Prev</a></li>
                                                <% for(var i=0;i <= total_pages;i++){%>
                                                    <li class="page-item active">
                                                        <a class="page-numbers" href="<%=nodeSiteUrl+'/website/blogs?perpage='+numPerPage+'&page='+i%>"><%=i+1%></a>
                                                    </li>

                                                <%}%>
                                                
                                                <li><a class="next page-numbers" href="<%=(next!==null)?nodeSiteUrl+'/website/blogs?perpage='+numPerPage+'&page='+next:'#'%>">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            <%}else{%>
                                <div clarr="clear">No Record Found</div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  Blog Area End  ====================-->





            <!--========== Call to Action Area Start ============-->
            <div class="cta-image-area_one section-space--ptb_80 cta-bg-image_one">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-7">
                            <div class="cta-content md-text-center">
                                <h3 class="heading text-white">Assess your business potentials and find opportunities <span class="text-color-secondary">for bigger success</span></h3>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="cta-button-group--one text-center">
                                <a href="#" class="btn btn--white btn-one"><span class="btn-icon mr-2"><i class="far fa-comment-alt-dots"></i></span> Let's talk</a>
                                <a href="#" class="btn btn--secondary  btn-two"><span class="btn-icon mr-2"><i class="far fa-info-circle"></i></span> Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--========== Call to Action Area End ============-->

        </div>

        <!--====================  footer area ====================-->
        <%- include('layouts/footer-menu.ejs') %>
        <!--====================  End of footer area  ====================-->



    </div>
    
    
<%- include('layouts/footer.ejs') %>

</body>

</html>